nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1px;
    background-image: url("paisaje.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
   
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2px;
}

nav h1 {
    color: white;
    padding-left: 15px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 5px;
}

.nav-list a:hover {
    color: blue;
}
